.nav {
    padding-left: 85%;    
    color:aliceblue;
    
}
.container{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.container a{
    color:gray;
    text-decoration: none;
}

header{
    background-color: white;
    padding: 10px;
}

.left-items {
    display: flex;
    gap:10px;
    margin-left: 3px;
    color:gray;
    margin-top: 1px;
}

.right-items {
    display: flex;
    gap: 10px;
    margin-left:100px;
}



#inputwrapeer {
    
    border-bottom-left-radius: 22px;
    border-top-right-radius: 22px;
    margin-top: 1%;
    padding-left:30%;
    margin-left: 40%;
    text-align:start;
    box-sizing:border-box;
    cursor:text;
    display: inline-block;
    font-weight: 400;
    height:44px;
    padding:20px;
}
#input{
    width: 450px;
    padding: 14px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
#image{
    padding-left:37%;
    padding-top:7%;
    width:35%
}

.newbutton{
    margin-left: 45%;
    margin-top: 30px;
    justify-content: space-between;
}
.footer{
    display: flex;
    margin-top:12%;
    background-color:gainsboro;
    margin-bottom: 5%;
    justify-content:left;
}
.newfooter{
    display:flex;
    background-color: gainsboro;
    margin-top:03px;
    justify-content:space-around;
    margin-left: 0px;
}